footer{
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  background: #D4D3DC;
  height: auto;
  width: 99vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #111;
  box-shadow: -1px -5px 5px 0px rgba(158,140,140,0.75);
-webkit-box-shadow: -1px -5px 5px 0px rgba(158,140,140,0.75);
-moz-box-shadow: -1px -5px 5px 0px rgba(158,140,140,0.75);
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
   
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #ebedee;
  width: 99vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 18px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: 1.5;
  font-weight: 200;
}